mixin card(params)
  .card
    img.card__img(src=params.imgLink alt=params.title)

    .card__content
      h3.card__title= params.title

      .card__info
        .card__info-item
          span.card__param-value= params.color
          span.card__param-name окрас
        
        .card__info-item
          span.card__param-value.card__param-value--accented= params.age
          span.card__param-name Возраст
        
        .card__info-item
          span.card__param-value.card__param-value--accented= params.pawCount
          span.card__param-name Кол-во лап

    if (params.sold)
      .card__button.card__button--sold Продано
    else
      button.card__button Купить
